<div class="header-box">
    <div class="logo-box">
        <img class="logo" src="../../assets/img/logo.png" />
    </div>
    <ul class="nav-box">
        <li class="nav-item active">
            <a>现货</a>
        </li>
        <li class="nav-item">
            <a>合约</a>
        </li>
        <li class="nav-item">
            <a>交割合约</a>
        </li>
    </ul>
</div>