{%- include common/rest/workdir.liquid %}

{% comment %} display the directory name {% endcomment %}
{%- assign dir = site_pages | where: "url", workdir | first -%}

{% assign dirUrl = dir.url | split: "/" %}
{% if workdir_files[0].url -%}
<li class="nav-item {{ dirUrl[1] }}" data-menu="{{ dirUrl[2] }}">
    <a href="{{workdir_files[0].url}}">{{dir.title}}</a>
</li>
{% endif -%}
{%- for workdir in workdir_dirs -%}
    {%- assign level = workdir | append: "temp" | replace_first: "/", "" | split: "/" | size | minus: 2 %}
    {% include templates/header_menu.liquid %}
{%- endfor -%}