{%- include common/rest/workdir.liquid %}

{% comment %} display the directory name {% endcomment %}
{%- assign dir = site_pages | where: "url", workdir | first -%}

{% assign dirUrl = dir.url | split: "/" %}
{% if dirUrl[1] == 'zh' -%}
<li class="nav-item">
    {% if workdir_files[0].url != '' -%}
    <a href="{{workdir_files[0].url}}">{{dir.title}}</a>
    {% endif -%}
</li>
{% endif -%}
{%- for workdir in workdir_dirs -%}
    {%- assign level = workdir | append: "temp" | replace_first: "/", "" | split: "/" | size | minus: 2 %}
    {% include templates/header_menu.liquid %}
{%- endfor -%}