<div class="header-box">
    <div class="logo-box">
        <img class="logo" src="../../assets/img/logo.png" />
    </div>
    <ul class="nav-box">
        <li class="nav-item">现货</li>
        <li class="nav-item">合约</li>
        <li class="nav-item">交割合约</li>
    </ul>
</div>