.content-box .markdown-body>*{
    margin-left: 28px;
}
.content-wrap{
    margin-left: 0px !important;
}
.content-box .markdown-body{
    padding: 50px 0;
}
.content-wrap.content-box{
    max-width: 100% !important; 
    
}
.content-wrap.content-box .content{
    position: relative;
}
.content-wrap.content-box .code-bg-box{
    background: #22262F;
    position: absolute;
    border-top: 1px solid #141418;
    right: 0;
    top: 0px;
    height: 100%;
}
.content-wrap.content-box .code-bg-box .code-bg-title{
    position: absolute;
    width: 100%;
    background: #2D2F37;
    padding: 1px 0;
}
.content-wrap.content-box .code-bg-box .code-bg-title span{
    background: #22262F;
    color: #E5E5E5;
    font-size: 16px;
    padding: 10px 28px;
    display: inline-block;
}
.content-wrap.content-box .content>.main{
    width: 60%;
}
@media screen and (min-width: 100px) and (max-width: 1000px) {
    .main-box {
        width: 1000px;
    }
}