.content-box .markdown-body>*{
    padding-left: 28px;
    padding-right: 28px;
    width: 60%;
}
.content-wrap{
    margin-left: 0px !important;
}
.content-box .markdown-body{
    padding: 50px 0;
}
.content-wrap.content-box{
    max-width: 100% !important; 
}
.content-wrap.content-box .content{
    position: relative;
    min-height: 100%;
}
.content-wrap.content-box .code-bg-box{
    background: #22262F;
    position: absolute;
    border-top: 1px solid #141418;
    right: 0;
    top: 0px;
    height: 100%;
    width: 40%;
}
.content-wrap.content-box .code-bg-box .code-bg-title{
    width: 100%;
    background: #2D2F37;
    padding: 1px 0;
    position: fixed;
    z-index: 100;
    top: 80px;
    
}
.content-wrap.content-box .code-bg-box .code-bg-title span{
    background: #22262F;
    color: #E5E5E5;
    font-size: 18px;
    padding: 10px 28px;
    display: inline-block;
}
.content-wrap.content-box .content>.markdown-box .markdown-body>h1{
    border-bottom: none;
}
.content-wrap.content-box .content>.markdown-box .markdown-body>.highlighter-rouge{
    float: right;
    z-index: 10;
    width: 40%;
    margin-right: 0;
    margin-left: 0;
    /* background: #141418; */
    padding-left: 20px;
    padding-right: 20px;
    clear: both;
    margin-bottom: 0;
}
/* .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .si, .highlight .sx, .highlight .s, .highlight .sa, .highlight .dl, .highlight .ne, .highlight .nf, .highlight .fm, .highlight .nl{
    color: #e6db74;
}
.highlight .mf, .highlight .mh, .highlight .il, .highlight .mi, .highlight .mo, .highlight .m, .highlight .mb, .highlight .mx{
    color: #ae81ff;
}
.highlight .c1{
    color: #960050;
}
.highlight .kc, .highlight .kd, .highlight .kn, .highlight .kp, .highlight .kr{
    color: #66d9ef;
} */
.markdown-body pre>code{
    color: #E5E5E5;
}
pre code, .highlight .ow, .highlight .o{
    color: #E5E5E5;
}
.highlight .err{
    background: none;
    color: #E5E5E5;
}

.content-wrap.content-box .content>.markdown-box .markdown-body .custom-code-title{
    float: right;
    z-index: 10;
    width: 40%;
    margin-right: 0;
    margin-left: 0;
    background: #141418;
    padding: 20px 20px;
    clear: both;
    margin-bottom: 0px;
    position: relative;
    color: #E5E5E5;
    font-size: 16px;
}
.content-wrap.content-box .content>.markdown-box .markdown-body>.highlighter-rouge .highlight{
    padding: 20px 28px;
    border: none;
    border-radius: 0;
    background: none;
}
.markdown-box .bg-yellow{
    background: rgb(255,255,0) !important;
    padding: 2px 4px;
    margin: 0px 3px;
    border-radius: 2px;
    color: #000;
}
.content-wrap.content-box .content>.markdown-box .markdown-body>.highlighter-rouge .highlight{
  padding: 0px;
}
.content-wrap.content-box pre.highlight{
	padding: 20px 0px !important;
}
.markdown-body .highlight{
	margin-bottom: 0;
}
.content-box .markdown-body blockquote{
    margin-left: 28px;
    margin-right: 28px;
    background: #efefef;
    padding: 10px 20px;
    width: calc(60% - 56px);
    border-left: none;
}
.markdown-body ul li{
    margin-left: 20px;
}
.markdown-body table th, .markdown-body table td
{
    text-align: left;
}
@media screen and (min-width: 100px) and (max-width: 1000px) {
    .main-box {
        width: 1000px;
    }
    .content-wrap.content-box .markdown-body>*{
        width: 100%;
    }
     
    .content-wrap.content-box .content>.markdown-box .markdown-body .custom-code-title
    {
        float: none;
        width: calc(100% - 56px);
        margin: 20px 28px; 
        margin-bottom: -20px;
    }
    .content-wrap.content-box .content>.markdown-box .markdown-body>.highlighter-rouge{
        float: none;
        width: calc(100% - 56px);
        background: #22262F;
        margin: 20px 28px; 
    }
    .content-wrap.content-box .code-bg-box{
        display: none;
    }
}