.sidebar-wrap{
	width: 220px;
	background: #22262F;
	.header{
		height: 80px;
		background: #22262F;
		.title.pb-1{
			padding: 0px 20px;
			display: flex;
			align-items: center;
		}
		.logo-box{
			width: 100%;
		}
	}
}


