*{
	margin: 0;
	padding: 0;
}
.header-box ul li,.menu-box ul li{
	list-style: none;
}
html,body,.main-box{
	width: 100%;
	height: 100%;
}
.header-box{
	width: 100%;
	height: 80px;
	background: #22262F;
	/* display: flex; */
}
.menu-content-box{
	height: calc(100% - 80px);
	width: 100%;
	display: flex;
}

.sidebar-wrap{
	width: 260px;
	background: #22262F;
	overflow-y: auto;
	position: static;
	border-top: 1px solid #141418;
}
.sidebar{
	width: 260px;
	height: 100%;
	background: #22262F;
}
.content-box{
	flex: 1;
	height: 100%;
	overflow-y: auto;
}

/* 因为header的样式相对比较简单，就没有单独独立出一个css，而是放在公共css文件中 */
.header-box .logo-box{
	width: 260px;
	height: 100%;
	padding: 0 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	float: left;
}
.header-box .logo-box img{
	width: 100%;
}
.header-box .nav-box{
	flex: 1;
	height: 100%;
	display: flex;
	float: left;
    width: calc(100% - 370px);
	overflow-x: auto;
}
.header-box .nav-box .nav-item{
	display: none;
	align-items: center;
	height: 100%;
	padding: 0 20px;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	/* cursor: pointer; */
	position: relative;
}
.header-box .nav-box .nav-item.show{
	display: flex;
}
.header-box .nav-box .nav-item>a{
	color: #fff;
	text-decoration: none;
}
.header-box .nav-box .nav-item:hover::after, .header-box .nav-box .nav-item.active::after{
	position: absolute;
	content: "";
	display: inline-block;
	left: 0;
	right: 0;
	bottom: 0;
	height: 3px;
	background: #C8AF88;
}
.d-none, .toc>ul{
	display: block !important;
}
.lang-box{
	width: 80px;
	display: flex;
	align-items: center;
	margin-right: 30px;
	float: right;
	height: 100%;
}
.lang{
	width: 100%;
	text-align: center;
	cursor: pointer;
	color: #C8AF88 ;
	border-radius: 3px;
	border: 1px solid #C8AF88;
	padding: 3px 5px;
	display: inline-block;
	padding-top: 5px;
	font-size: 14px;
}
.lang:hover
{
	color: #9B7967 ;
	border: 1px solid #9B7967;
}